:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }

body {
    background-color: var(--light);
}

.my-name {
    margin-right: auto;  
    background-color: var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}



.main-header {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: rgb(59, 53, 53);
    background-color:var(--tertiary);
    }



ul {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-right: 50px;
    font-weight: 800;

}


li {
    float: right;
    margin: 20px;
   
}

.images {
    display: flex;
    flex-wrap: wrap;
  }

.imagewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
   
}

.image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

.menu {
    color: var(--secondary);
}

.main-body-master {
    margin: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.main-body, .main-work-body, .main-contactme-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  color: var(--primary);
  width: 100%;
  height: 160px;
}

.aboutmetitle, .worktitle, .contactmetitle {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 2px solid black;
    height: fit-content;
}


.aboutmetext, .worktext, .contactmetext {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
      
}

.worktext {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.workbox, .contactmebox {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
   padding-left: 20px;
   display: flex;
   flex-wrap: wrap; 
   
    
}

.aboutmebox {
    display: flex;
    flex-wrap: wrap;
   float: 10px;
   padding-left: 20px;
   display: flex;
   flex-wrap: wrap; 
   
}

#selfie {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: auto;
}
